body{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.block{
    height: 30vw;
    width: 30vw;
    background-color: #000;
    color: #fff;
    padding: 1rem;
}
.left{
    float: left;
    margin-right: 1rem;
}
.right{
    float: right;
    margin-right: 1rem;
}
.clear{
    clear:both;
}
.float{
    background-color: skyblue;
    border: 1px solid black;
    padding: 1rem;
    display: flow-root;
}
.column{
    /* column-count:4;
    column-width: 250px; */
    columns: 4 250px;
    column-rule: 3px solid #333;
    column-gap:3rem;
}
.column h2{
    margin-top: 0;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    break-inside: avoid;
}
.quote{
    font-size:3rem;
    text-align: center;
    color: #333;
    column-span: all;
}
.position-div{
    font-size: 1.5rem;
    min-height: 200vh;
}
.outer-container{
    border:2px dotted #000;
    width: 75vw;
    height: 150vh;
    margin: 40px auto;
    position: relative;

}
.inner-container{
    border:2px solid #000;
    width:40vw;
    height:100vh;
    margin: 200px auto;
}
.box{
    width: 150px;
    height: 150px;
    color: #fff;
    padding:1rem;
}
.absolute{
    background-color: royalblue;
    position: absolute;
    top: 0;
    left: 0;
}
.relative{
    background-color: orange;
    position:relative;
    top: 100px;
    left:200px;
}
.fixed{
    background-color: green;
    position:fixed;
    /* top: 100px; */
}
.sticky{
    background-color:gold;
    position: sticky;
    top: 0;
}