.introSection{
    padding: 25%;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5rem;
}
a{
    text-decoration: none;
    color: blueviolet;
}
a:visited{
    color: blue;
}
a:hover, a:focus{
    color: black;
    font-size: large;
}
.listStyles{
    /* list-style-type: decimal; */
    /* list-style-type: lower-alpha; */
    /* list-style-type: georgian; */
    list-style-type: square;
    font-size: larger;
    text-align: center;
    list-style-position: inside;
    color: blueviolet;
    line-height: 1.6;
}
ul li:nth-child(odd){
    color:red;
}
ul li::marker{
    color:red;
    font-family: fantasy;
    font-size: larger;
    content:"Only 2$ >> "
}
